@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

@font-face {
  font-family: 'nafeesweb';
  src: url('../../public/fonts/nafeesweb.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
body p,
html {
  font-family: 'nafeesweb';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'nafeesweb';
}

.font-ahle {
  font-family: 'nafeesweb';
}

.ahle-heading {
  position: relative;
  margin-bottom: 2.4rem;
}

.ahle-heading:after {
  position: absolute;
  content: '';
  bottom: -12px;
  right: 0;
  padding: 2px;
  background-color: #fff054;
  width: 60px;
}

@layer base {
  :root {
    --dark-gray: #181818;
    --light-gray: #f3f4f6;
    --yellow: #fff054;
    --pure: #393939;
    --light-blue: #05adaf;
    --text: #979797;
    --border: #eaeaea;
  }

  :root[class='dark'] {
    --dark-gray: #181818;
    --light-gray: #262626;
    --yellow: #fff054;
    --pure: #fff;
    --light-blue: #05adaf;
    --text: #b8b8b8;
    --border: #343434;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  ._grid {
    grid-template-columns: 1fr !important;
  }
}

._img {
  min-width: 6rem !important;
}

.blogs .slick-dots li button {
  margin-top: 50px;
}

.blogs .slick-dots li button:before {
  background: rgb(152, 152, 152);
  border-radius: 100%;
  content: '' !important;
}

.blogs li.slick-active button:before {
  background: #fff054;
  content: '' !important;
}
.boxshadow {
  box-shadow: 4px 4px 0px 0px #fff054;
}
.p a {
  padding: 8px 14px !important;
}
.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.427) !important;
}
